dashboard-app/dist/
# Dépendances (Super important !)
node_modules/

# Dossiers de build / production
dashboard-app/dist/
dist/

# Environnement local
.env

# SQLite databases
*.db
tous_les_logs.txt
logs_app.txt\ntous_les_logs_nouveaux.txt
